.jumbotron {
  margin-top: 60px;
  border-style: groove;
  padding-top: 80px;
  padding-botton: 60;
  background-image: url(img/wheel-wall.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   color: #604020;
   text-align: center;
   text-shadow: black 0.1em 0.1em 0.1em, white 0.1em 0.1em 0.1em;
}

.chart-label {
  text-align: center;
}
0
/*.img-responsiveThumbnail {*/
  /*margin-bottome: 25px:*/
  /*margin-left: 25px;*/
  /*margin-right: 25px;*/
}

button {
  cursor: pointer;
  color: #00e600;
}

.btn-margin {
  margin-bottom: 25px;
}

ul {
  list-style: circle;
  margin-left: 0;
}

#orderSpecifications {
  display: none;
}
-
